@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
	padding: 0;
	margin: 0;
	/*box-sizing: border-box;*/
}

body{
	/*background-color: #EDEDED;*/
	font-family: 'Open Sans', sans-serif;
	font-size; 16px; 
	color:black;
	line-height: 1.5;
	margin-left: .5em;
}

header { 
	margin: 16px 0px;
		
}

header input[type=text] {
	width: 10%;
}

nav{
	padding-bottom: 1em;
 }
nav a {
 		margin-right:1.5em;
}

main{
	/*background-color: violet;*/
	/*border: 1px black solid;*/
	/*padding:20px;*/
	float: left;
	width:60%;
}

 aside {
 		/*background-color: pink;*/
   		/*border: 1px black solid;*/
    	/*padding: 20px;*/
		float: right;
 		width: 27.5%;
 		font-style: italic;
 		text-align: left;
 		margin-top: 3.5em;
 		margin-right: 2em;
 }

h2 {
	color: #06c;
	font-size: 2.25em;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
 
 #slogan {
		 text-align:center;
		 color: #ea6a20;
		font-weight: bold;
		font-style: italic;
		font-size: 1.5em;
		margin-top: .5em;

 }

h1{
	font-family: 'Roboto', sans-serif;
	/*padding-top: .5em;*/

}

main p{
	padding-top: 1em;
 	
}
main input[type=text] {
	width: 25%;
	padding-top: 1em;
}

main input[type=submit]{
	font-weight: bold;
	background-color: #7d7;
	padding: .25em;
	border-radius:5px;
	width: 10%
}


h3{
	color: #06c;
	padding-top: .5em;
}

form{
	padding-top: 1em;
}

h4 {
	/*color: #ea6a20;*/
	padding-top: .5em

}

hr{
	border:none;
	height:1px;
	background-color: #ea6a20;
}

#note{
	font-style: italic;
	padding-top: 2em;

} 

#two_column{
		width: 1450px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #FFB7CF;*/
	/*border: 1px black solid;*/
	/*padding: 20px;*/
	
}

footer{
	clear: both;
}

/*.clearfix: after {*/
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

.tables {
	padding-top: 1em;
	padding-bottom: 1em;
}

 thead, tfoot {
	background-color: #ea6a20;
	Color:#fff;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(200,200,200);
	font-size:12px;
	margin-top: 20px;

}
th, td{
	border: 2px solid rgb(190,190,190);
	padding: 5px 10px;
}

td {
	text-align:center;
}
	