* {
	padding: 0;
	margin: 0;
}

body{
	background-color: #ddd;
	font-family: Helvetica, Arial, sans-serif;
	font-size; 16px;
	color:black;
}

header { 
		padding: 10px; 
}

h2 {
	color: #06c;
	font-size: 36px;
	text-transform: uppercase;
}
 nav a {
 	margin-right:10px;
 }

 img {
 	width: 100%;
 }

h3{
	color: #06c;
}

h4 {
	color: #ea6a20;
}
 main {
 	padding: 20px;
 }

section {
	padding: 20px;
}

footer {
	padding: 20px;
}

 aside {
 	float: right;
 	font-style: italic;
 	text-align: left;
 }
 	

#slogan {
	color: #ea6a20;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-align: center;
}